.button-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  height: 4rem;
}

.button-box button {
	width: 6rem;
	height: 3rem;
  border-radius: 91px 91px;
  box-shadow: 2px 2px 2px orange;
  font-size: medium;
  background-image: radial-gradient(white, white , yellow);
  color: navy;
}

.counter aside {
  background-image: radial-gradient(red, pink , white);
  margin-left: .25rem;

}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}