* {
  margin: 0 auto;
  width: 100%;
  /*font-family: sans-serif;*/
  text-align: center; }

.App {
  overflow: scroll;
  height: 100vh;
  background-image: radial-gradient(grey, orange, lightpink); }

.header {
  height: 150px;
  padding: 20px;
  font-family: "../../star-jedi/Starjedi.ttf";
  background-size: cover;
  background-image: "../../star-jedi/star-jedi/sample003.jpg";
  color: yellow; }

.title {
  font-size: 4rem;
  text-shadow: 3px 3px 2px #B26F39; }
