.Card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 13rem;
	width: 12rem;
	border-radius: 9px 9px;
	overflow: hidden;
	cursor: pointer;
	margin: 1rem;
  color: white;
}

.Card h4 {
	color: yellow
}

.Card h5 {
	color: lightyellow
}

.people {
	box-shadow: 4px 4px 14px 4px pink;
}

.planets {
	box-shadow: 4px 4px 14px 4px green;
}

.vehicles {
	box-shadow: 4px 4px 14px 4px purple;
}

.true {
	background-image: radial-gradient(white, pink , red);
}
